@model IEnumerable<Pixel_Palace.Models.Games>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Os_mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average_rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game_Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Os_mode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Average_rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game_Images)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
